<service>
	<serviceName>revolico</serviceName>
	<serviceAliases>
		<alias>rebolico</alias>
	</serviceAliases>
	<serviceDescription>Le permite buscar articulos y servicios en Revolico</serviceDescription>
	<creatorEmail>salvi@apretaste.com</creatorEmail>
	<serviceCategory>negocios</serviceCategory>
</service>
